.form-controls-container {
  width: 100%;
  padding: 1rem;

  & > * {
    width: 100%;
  }
}

.secondary-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.start-mat-grid-list {
  padding-top: 2rem;

  & > .mat-grid-tile .mat-figure {
    align-items: flex-start;
  }
}

.btn-group {
  margin-top: 1rem;

  & > * {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.center {
  padding-top: 2rem;
  & > .mat-spinner {
    margin: 0 auto;
  }
}
