<fieldset [disabled]="isLoading">
  <form (ngSubmit)="createPayment()" [formGroup]="paymentForm">
      <h2 class="secondary-heading">Datos de vecino</h2>
      <div class="form-group">
        <label class="d-block">
          <input type="text" class="form-control" [placeholder]="'Vecino'" formControlName="neighbor" required>
          <app-control-messages [control]="f['neighbor']"></app-control-messages>
        </label>
      </div>
      <div class="form-group">
        <label class="d-block">
          <input type="text" class="form-control" [placeholder]="'Cedula'" formControlName="neighborID" required>
          <app-control-messages [control]="f['neighborID']"></app-control-messages>
        </label>
      </div>
      <h2 class="secondary-heading">Datos del pago</h2>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="paymentDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <app-control-messages [control]="f['paymentDate']"></app-control-messages>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Tipo de pago</mat-label>
          <select matNativeControl (change)="onChange($event)" formControlName="paymentMethod" required>
            <option 
              *ngFor="let method of paymentMethods$ | async" 
              [value]="method" 
            >
              {{method}}
            </option>
          </select>
          <app-control-messages [control]="f['paymentMethod']"></app-control-messages>   
        </mat-form-field>
      </div>
      <ng-container *ngIf="isElectronicPayment">
        <mat-form-field appearance="fill">
          <mat-label>Banco</mat-label>
          <select matNativeControl formControlName="bank" required>
            <option *ngFor="let bank of banks$ | async" [value]="bank">
              {{bank}}
            </option>
          </select>
          <app-control-messages [control]="f['bank']"></app-control-messages>   
        </mat-form-field>
        <div class="form-group">
          <label class="d-block">
            <input type="text" class="form-control" [placeholder]="'Numero de referencia'" formControlName="paymentID" required>
            <app-control-messages [control]="f['paymentID']"></app-control-messages>
          </label>
        </div>
      </ng-container>
      <div class="form-group">
        <label class="d-block">
          <input type="text" class="form-control" [placeholder]="'Monto'" formControlName="amount" required>
          <app-control-messages [control]="f['amount']"></app-control-messages>
        </label>
      </div>
      <div>{{paymentForm.status}}</div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-raised" [disabled]="!paymentForm.valid">
          <span [hidden]="isLoading">Submit</span>
          <span [hidden]="!isLoading">
            <fa-icon icon="asterisk" size="3x" [spin]="true"></fa-icon>
          </span>
        </button>
      </div>
  </form>
</fieldset>