@import '~@angular/material/theming';

.align-items-center {
  align-items: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  .item-flex {
    flex: 0 0 30%;
    padding: 0.8rem;

    & > .mat-form-field {
      width: 100%;
    }
  }

  .item-flex.width-80p {
    flex: 0 0 80%;
  }

  .item-flex.width-20p {
    flex: 0 0 20%;
  }
}

.secondary-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.btn-group {
  margin-top: 1rem;

  & > * {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.center {
  padding-top: 2rem;
  & > .mat-spinner {
    margin: 0 auto;
  }
}

.not-empty-select.mat-selected {
  color: green !important;

  & > .mat-pseudo-checkbox-checked {
    background: green !important;
  }
}
