@import '~@angular/material/theming';

.align-items-center {
  align-items: center;
}

.form-controls-container {
  flex: 0 0 50%;
  padding: 1rem;

  & > * {
    width: 100%;
  }
}

.width-80p {
  flex: 0 0 80%;
}

.width-40p {
  flex: 0 0 80%;
}

.secondary-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.btn-group {
  margin-top: 1rem;

  & > * {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.center {
  padding-top: 2rem;
  & > .mat-spinner {
    margin: 0 auto;
  }
}

.not-empty-select.mat-selected {
  color: green !important;

  & > .mat-pseudo-checkbox-checked {
    background: green !important;
  }
}
