.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  .item-flex {
    flex: 0 0 30%;
    padding: 0.8rem;

    & > .mat-form-field {
      width: 100%;
    }
  }

  .item-flex.width-80p {
    flex: 0 0 80%;
  }

  .item-flex.width-20p {
    flex: 0 0 20%;
  }
}
